<h2 id="storeId" data-id="<%= @store.id %>"><%= @store.store_number %> <%= @store.name %></h2>

<button id="showComment">Show Open Comments</button><button id="nextStore">Next Store</button>

 <div id="openComments">
 </div>

